<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>cod-search</title>
        <link rel="shortcut icon" type="image/x-icon" href="images/gun.png" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="login.css">
        <script src="https://kit.fontawesome.com/ee56f8faf7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="body">
            <div class="logindiv">
                <div class="logindivleft">
                    <div class="loginheader"><h1 class="">Login with Call of Duty</h1></div>
                    <div class="loginform">
                    <div class="inputdiv">
                        <label for="email">Email</label>
                        <input id="email" name="email" class="email"></input>
                    </div>
                    <div class="inputdiv">
                        <label for="password">Password</label>
                        <input id="password" name="password" class="password" type="password"></input>
                    </div>
                    <div class="rememberandsubmit">
                        <div>
                            <input name="rememberme" class="rememberme" type="checkbox"></input>
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div>
                            <button id="submit" class="submit">Submit</button>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                        <i class="footericon fab fa-twitter"></i>
                        <i class="footericon fab fa-discord"></i>
                        <i class="footericon fab fa-instagram"></i>
                        <i class="footericon fas fa-envelope"></i>
                    </div>
                </div>
                <div class="logindivright"></div>
            </div>
        </div>
        <script src="login.js" async defer></script>
    </body>
</html>